doctype html
html
  include header.jade
  body
    .contain
      .eight.col.off-two
        h1: a(href='/')= site.title
        hr
        a(href='/about'): img(src='/#{site.photo}', class='profile', style='float: left; margin-right: .8em; width: 85px;')
        div!= contents
        hr
        include nav.jade
        hr
        include footer.jade
