doctype html
html
  include header.jade
  body
    .contain
      .eight.col.off-two
        h1: a(href='/')= site.title 
        hr
        a(href='/about'): img(src='/#{site.photo}', class='profile', style='float: left; margin-right: .8em; width: 85px;')
        h3
          a(href="/" + path + "/")= title
        p: strong By <a href='/about'>#{site.author}</a> - 
          span(style='color: #666;')= moment(date).format('MMMM Do YYYY')
        div!= contents

        if previous
          p(style='text-align: right; float: right;'): a(href="/#{previous.path}/") #{previous.title + ' ->'}
        if next
          p(style='text-align: left; float: left;'): a(href="/#{next.path}/") #{'<- ' + next.title} 
        hr
        include footer.jade
